@media (max-width: 772px) {
	.product-box {
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: 380px;
		height: 100%;
		padding: 20px;
		h1 {
			width: 100%;
		}
		span {
			display: inline;
		}
		.product-right-side {
			width: 100%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;
			button {
				width: 100%;
			}
			.price-box {
				padding-bottom: 15px;
			}
		}
		.product-left-side img {
			width: 100%;
			content: url('../img/image-product-mobile.jpg');
			border-top-right-radius: 8px;
			border-bottom-left-radius: 0;
		}
	}
}
